.applicationstatus {
    margin: 3rem auto;
    padding: 30px;
    border-radius:20px !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .status-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  
  .status-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #555;
  }
  
  .status-text {
    font-size: 16px;
  }
  
  .status-icon {
    font-size: 36px;
  }
  
  .status-description {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .status-img {
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
  }
  
  .delete,
  .update {
    font-size: 1em;
    font-weight: 600;
    color:#333;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 4px;
  }
  
.update-btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .update-btn:hover {
    background-color: #45a049; 
  }
  
  .delete-btn {
    background-color: #f44336  ; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    width: 200px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .delete-btn:hover {
    background-color: #d32f2f;
  }
  
  .content-box{
    margin-top: 5rem;
  }


  @media (max-width:576px){
    .delete-btn,.update-btn{
      transform: translateX(20%);
    }
  }


  
  